.Note {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 5px;
}

.titleInput {
  background-color: var(--background-color);
  color: var(--font-color);
  font-size: 36px;
  border: none;
  font-weight: bold;
}

.titleInput:focus-visible {
  outline: none;
}

@media only screen and (max-width: 600px) {
    .Note {
      height: 50%;
    }
  }

