.list {
    max-width: 600px;
  width: 600px;
    /*min-width: 600px;*/
    height: 100vh;
    overflow-y: auto;
    border-right: 2px solid;
    border-color: var(--border-color);
}

@media only screen and (max-width: 600px) {
    .list {
        height: 50vh;
        width: 100%;
    }
  }

.list::-webkit-scrollbar {
  width: 0;
}


